#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c
title: experience layer API

uses:

  common: types/common-types.raml
  meta: types/metadata-types.raml
  hyper: types/hypermedia-types.raml
  collection: collections.raml
  geography: types/geography-types.raml
  payment: types/payment-types.raml
  contact: types/contact-types.raml
  fulfillment: types/fulfillment-types.raml
  taxonomy: types/taxonomy-types.raml
  customer: customer-types.raml
  channel: channel-types.raml
  order: order-types.raml
  product: types/product-types.raml
  session: session-types.raml
  inventory: types/inventory-types.raml

types:
        
  ContactMethodCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      contactMethods: contact.ContactMethod[]
      
  ContactMethodResponse:
    type: contact.ContactMethod
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  ChannelCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      channels: hyper.Link[]
      
  ChannelResponse:
    type: channel.Channel
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          paymentMethods: hyper.Link
#          fulfillmentMethods: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  FulfillmentMethodCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      fulfillmentMethods: fulfillment.Fulfillment[]

  StoreCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      stores: hyper.Link[]
 
  StoreResponse:
    type: channel.StoreChannel
 #   properties:
 #     _links:
 #       type: hyper.Links
 #       properties:
 #         self: hyper.Link
 #         paymentMethods: hyper.Link
 #         fulfillmentMethods: hyper.Link
 #         nearbyStores: hyper.Link
 #     _meta:
 #       type: hyper.ResponseMetadata


  CategoryCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      categories: hyper.Link[]
      
  CategoryResponse:
    type: taxonomy.Category
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          parentCategory?: hyper.Link
#          subCategories?: hyper.Link
#          products: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  SalesOrderCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      paymentMethods: hyper.Link[]
      
  SalesOrderResponse:
    type: order.SalesOrderHeader
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          orderItems: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata
  
  SalesOrderPaymentMethodResponse:
    type: payment.PaymentMethod
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          salesOrder: hyper.Link
    
  SalesOrderFulfillmentResponse:
    type: fulfillment.Fulfillment
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          salesOrder: hyper.Link
        
  SalesOrderItemCollectionResponse:
    type: order.SalesOrderItems
    properties:
      _links:
        type: hyper.Links
        properties:
          self: hyper.Link
          salesOrder: hyper.Link

  ProductResponse:
    type: product.Product
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          features: hyper.Link
#          variants: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  ProductCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      products: product.Product[]
  
  FeatureCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      features: hyper.Link[]

  FeatureResponse:
    type: product.ProductFeature
    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  ProductVariantCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      variants: product.ProductVariant[]

  ProductVariantResponse:
    type: product.ProductVariant
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          product: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata
        
  ProductVariantAvailabilityResponse:
    type: inventory.Availability
    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#          productVariant: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  ShoppingCartCollectionResponse:
    type: hyper.CollectionResponse
    properties:
      shoppingCarts: session.ShoppingCart[]
      
  ShoppingCartResponse:
    type: session.ShoppingCart
#    properties:
#      _links:
#        type: hyper.Links
#        properties:
#          self: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

  InventoryCollectionResponse:
    type: hyper.CollectionResponse
    properties: 
      inventory: inventory.Inventory[]
      
  InventoryResponse:
    type: inventory.Inventory
    properties:
#      _links:
#        type: hyper.Links
#        properties: 
#          self: hyper.Link
#      _meta:
#        type: hyper.ResponseMetadata

/customers:
  type:
    collection.collection:
      collectionResponseType: customer.CustomerCollectionResponse
      collectionMemberPrototypeType: customer.Customer
      collectionMemberResponseType: customer.CustomerResponse
  post:
    body:
      application/json:
        example: |
          {
              "firstName": "Jason",
              "lastName": "Bourne",
              "paymentMethods" : [
                {
                  "paymentMethodType":{  
                    "medium":"CARD",
                    "issuer":"BANK",
                    "name":"VISA"
                  }
                }
              ],
              "deliveryAddresses": [
                {
                  "address":"Main street 122",
                  "city":"San Francisco",
                  "state":"California",
                  "postalCode":"90210",
                  "recipient":"Jason Bourne",
                  "country":"US",
                  "secondaryAddress":null,
                  "mailStopCode":null,
                  "attention":null
                }
              ]
          }

    responses:
      201:
        body: 
          application/json:    
            example: |
              {
                "firstName": "Jason",
                "lastName": "Bourne",
                "paymentMethods": [
                    {
                      "paymentMethodType":{  
                        "medium":"CARD",
                        "issuer":"BANK",
                        "name":"VISA"
                      }
                    }
                ],
                "deliveryAddresses": [
                    {
                      "address":"Main street 122",
                      "city":"San Francisco",
                      "state":"California",
                      "postalCode":"90210",
                      "recipient":"Jason Bourne",
                      "country":"US",
                      "secondaryAddress":null,
                      "mailStopCode":null,
                      "attention":null
                    }
                ]
              }
              
  
  /{customerId}:
    uriParameters:
      customerId:
        type: common.resourceId
    type:
      collection.collectionMember:
        collectionMemberResponseType: customer.CustomerResponse
        collectionMemberPrototypeType: customer.Customer
    get:
      responses: 
        200:
          body: 
            application/json:
              example: |
                {  
                  "firstName":"Jason",
                  "lastName":"Bourne",
                  "paymentMethods":[  
                    {  
                      "paymentMethodType":{  
                        "medium":"CARD",
                        "issuer":"BANK",
                        "name":"VISA"
                      }
                    }
                  ],
                  "deliveryAddresses":[  
                    {  
                      "address":"Main street 122",
                      "city":"San Francisco",
                      "state":"California",
                      "postalCode":"90210",
                      "recipient":"Jason Bourne",
                      "country":"US",
                      "secondaryAddress":null,
                      "mailStopCode":null,
                      "attention":null
                    },
                    {  
                      "address":"Main street 122",
                      "city":"San Francisco",
                      "state":"California",
                      "postalCode":"90210",
                      "recipient":"Jason Bourne",
                      "country":"US",
                      "secondaryAddress":null,
                      "mailStopCode":null,
                      "attention":null
                      }
                   ],
                  
                  "orders": [
                    {
                      "customerId": "deb89058-77fb-4e97-8c83-6506c38cacf8",
                      "orderItems": [
                        {
                          "quantity": {
                            "quantityType": "DISCRETE",
                            "unit": "EA",
                            "amount": 1
                          },
                          "location": {
                            "locationId": "1c9a20dc-c585-42fd-ac1a-1216085b76d2",
                            "deliveryMethod": "PICKUP",
                            "locationType": "STORE"
                          },
                          "item": {
                            "productId": "eb8c8ca7-3c42-4489-a820-3aa138430b75"
                          },
                          "itemUnitPrice": {
                            "amount": {
                              "currency": "USD",
                              "currencyValue": 34.9,
                              "name": "Amount"
                              },
                            "salesUnit": {
                              "code": "EA",
                              "name": "Each"
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                 
    put: 
      body: 
        application/json: 
          example: |
                {  
                  "firstName":"Jason",
                  "lastName":"Bourne",
                  "paymentMethods":[  
                    {  
                      "paymentMethodType":{  
                        "medium":"CARD",
                        "issuer":"BANK",
                        "name":"VISA"
                      }
                    }
                  ],
                  "deliveryAddresses":[  
                    {  
                      "address":"Main street 122",
                      "city":"San Francisco",
                      "state":"California",
                      "postalCode":"90210",
                      "recipient":"Jason Bourne",
                      "country":"US",
                      "secondaryAddress":null,
                      "mailStopCode":null,
                      "attention":null
                    },
                    {  
                      "address":"Main street 122",
                      "city":"San Francisco",
                      "state":"California",
                      "postalCode":"90210",
                      "recipient":"Jason Bourne",
                      "country":"US",
                      "secondaryAddress":null,
                      "mailStopCode":null,
                      "attention":null
                    }
                  ]
                }
      responses: 
        201:
          body: 
            application/json:
              example: |
                {                
                 "status":" "address updated"            
                }
   